body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: white;
}

.card {
  background: white;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;
}

button {
  background: #ff4d6d;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}